</div>

<footer class="footer">&copy; 2024 oCoffee</footer>

<script src="/js/cart.js"></script>
<script src="/js/goBack.js"></script>
<script src="/js/catalog.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/index.js"></script>

</body>

</html>