<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Patrick+Hand&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <title>Ocoffee - Vente de café et accessoires</title>
</head>

<body>

    <div class="container">

        <header class="header">

            <div class="header__logo">
                <div class="header__logo__img__container">
                    <img class="logo__srv" src="../assets/logo.svg" alt="">
                </div>
                <h1 class="logo__title">oCoffee</h1>

            </div>

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav_link">Accueil</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav_link">Catalogue</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav_link">La boutique</a>
                    </li>
                </ul>
            </nav>

        </header>

        <main>

            <div class="article__image">
            </div>

            <div>

                <div class="detail__article">
                    <h3 class="article__title">Erreur 404</h3>
                    <p>Page non trouvée</p>
                </div>
                <div class="show__catalog"><a class="show__catalog__btn" href="#">Accueil</a></div>
            </div>

        </main>
        </div>

        <footer class="footer">&copy; 2024 oCoffee</footer>

</body>

</html>